<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Nome</key>
		<string>UBS/AMA JD CAMPOS</string>
		<key>Endereco</key>
		<string>RUA CRESCENTE, 97, SAO PAULO</string>
		<key>Regiao</key>
		<string>ITAIM PTA</string>
		<key>Latitude</key>
		<string>-23.5123838</string>
		<key>Longitude</key>
		<string>-46.4091955</string>
		<key>is24hrs</key>
		<string>07:00 - 19:00</string>
		<key>Telefone</key>
		<string>2035-4034</string>
	</dict>
	<dict>
		<key>Nome</key>
		<string>UBS/AMA JD SÃO JORGE</string>
		<key>Endereco</key>
		<string>RUA ÂNGELO APARECIDO SANTOS DIAS, 331, SAO PAULO</string>
		<key>Regiao</key>
		<string>BUTANTÃ</string>
		<key>Latitude</key>
		<string>-23.5925568</string>
		<key>Longitude</key>
		<string>-46.7839663</string>
		<key>is24hrs</key>
		<string>07:00 - 19:00</string>
		<key>Telefone</key>
		<string>3782-8518</string>
	</dict>
	<dict>
		<key>Nome</key>
		<string>HOSP. DR.JOSÉ SOARES HUNGRIA</string>
		<key>Endereco</key>
		<string>AV. MENOTTI LAUDISIO, 100, SAO PAULO</string>
		<key>Regiao</key>
		<string>PIRITUBA</string>
		<key>Latitude</key>
		<string>-23.4843423</string>
		<key>Longitude</key>
		<string>-46.7286459</string>
		<key>is24hrs</key>
		<string>24hrs</string>
		<key>Telefone</key>
		<string>3974-7000</string>
	</dict>
</array>
</plist>
